{% extends "base.html" %} {% block header %}
<div style="display: flex; justify-content: flex-end;">
    <a class="m-5 navlink" href="{{ url_for('snippets.index') }}">
        <span class="hidden sm:block">search-snippet</span>
        <span class="block sm:hidden">Home</span>
    </a>
    {% if current_user.is_authenticated %}
    <div style="display: flex; justify-content: flex-end;">
        <a class="my-5 mr-5 ml-0 navlink" href="{{ url_for('snippets.upload_snippet') }}">Upload-Snippets</a>
        <a class="my-5 mr-5 ml-0 navlink" href="{{ url_for('users.account') }}">Account</a>
        <a class="my-5 mr-5 ml-0 navlink !bg-red-400/20 hover:!bg-red-500/50 !text-red-400 hover:!text-red-300" href="{{ url_for('users.logout') }}">Logout</a>
    </div>
    {% else %}
    <div style="display: flex; justify-content: flex-end;">
        <a class="my-5 mr-5 ml-0 navlink" href="{{ url_for('users.login') }}">Login</a>
        <a class="my-5 mr-5 ml-0 navlink" href="{{ url_for('users.register') }}">Register</a>
    </div>
    {% endif %}
</div>
{% block content %}{% endblock %}{% endblock %}